<form [formGroup]="form">
	<div class="form-group">
        <label for="firstName">First Name</label>
        <input formControlName="firstname" id="firstName" type="text" class="form-control" name="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input formControlName="lastname" id="lastName" type="text" class="form-control" name="lastName" required>
    </div>
    <fieldset class="form-group" formGroupName="address">
        <legend>Address</legend>
        <div>
            <label for="street">Street</label>
            <input type="text" formControlName="street" name="street" id="street" class="form-control"/>
        </div>
        <div>
            <label for="zipCode">Zip Code</label>
            <input type="text" formControlName="zipcode" name="zipCode" id="zipCode" class="form-control"/>
        </div>
    </fieldset>
    <button class="btn btn-primary" type="button" [disabled]="!form.valid" (click)="log(form)">Submit</button>
    <hr />
    <pre>{{ form.value | json }}</pre>
</form>